# Ignore files and directories that should not be published to npm
# node_modules
package-lock.json
yarn.lock
*.log
*.gz
*.tgz
*.zip
*.rar
*.7z

# Ignore files related to version control systems
.gitignore
.git
.svn
.CVS

# Ignore build and development files
coverage/
dist/
build/
*.tsbuildinfo
*.env
*.map
*.test.*
*.config.js
*.ts
*.js.map
*.d.ts

# Ignore files related to editors or IDEs
.vscode/
.idea/
*.code-workspace
*.sublime-*
*.tmproj
*.esproj

# Ignore OS-specific files and directories
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
